In [3]:
import pandas as pd

d1 = pd.read_csv("BRCA.csv")
d2 = pd.read_csv("diabetes_data.csv")
d3 = pd.read_csv("bike_rental.csv")

In [4]:
import numpy as np

def count_rows_with_missing_values(df):
    # Create a boolean mask indicating the presence of missing values
    mask = df.isnull().values.any(axis=1)
    
    # Count the number of rows with missing values
    count = np.sum(mask)

In [5]:
row1 = count_rows_with_missing_values(d1)
print("Number of rows with missing values:", row1)
row2 = count_rows_with_missing_values(d2)
print("Number of rows with missing values:", row2)
row3 = count_rows_with_missing_values(d3)
print("Number of rows with missing values:", row3)

Number of rows with missing values: None
Number of rows with missing values: None
Number of rows with missing values: None

In [5]:
d1

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,TCGA-EW-A1OX,43,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,TCGA-A8-A079,69,FEMALE,0.213980,1.31140,-0.32747,-0.234260,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,TCGA-D8-A1XR,56,FEMALE,0.345090,-0.21147,-0.19304,0.124270,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,TCGA-BH-A0BF,56,FEMALE,0.221550,1.90680,0.52045,-0.311990,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329,TCGA-AN-A04A,36,FEMALE,0.231800,0.61804,-0.55779,-0.517350,III,Infiltrating Ductal Carcinoma,Positive,Positive,Positive,Simple Mastectomy,11-Nov-19,09-Feb-20,Dead
330,TCGA-A8-A085,44,MALE,0.732720,1.11170,-0.26952,-0.354920,II,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Other,01-Nov-19,04-Mar-20,Dead
331,TCGA-A1-A0SG,61,FEMALE,-0.719470,2.54850,-0.15024,0.339680,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Lumpectomy,11-Nov-19,18-Jan-21,Dead
332,TCGA-A2-A0EU,79,FEMALE,0.479400,2.05590,-0.53136,-0.188480,I,Infiltrating Ductal Carcinoma,Positive,Positive,Positive,Lumpectomy,21-Nov-19,19-Feb-21,Dead
333,TCGA-B6-A40B,76,FEMALE,-0.244270,0.92556,-0.41823,-0.067848,I,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Lumpectomy,11-Nov-19,05-Jan-21,Dead

In [6]:
d2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
d3

,days_since_2011,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,0,1,2011,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,0,1,2011,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,0,1,2011,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
3,0,1,2011,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,13
4,0,1,2011,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,730,1,2012,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,119
17375,730,1,2012,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,89
17376,730,1,2012,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,90
17377,730,1,2012,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,61
17378,730,1,2012,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,49

In [6]:
missing_count = d1.isnull().sum()
print(missing_count)
missing_count = d2.isnull().sum()
print(missing_count)
missing_count = d3.isnull().sum()
print(missing_count)

Patient_ID             0
Age                    0
Gender                 0
Protein1               0
Protein2               0
Protein3               0
Protein4               0
Tumour_Stage           0
Histology              0
ER status              0
PR status              0
HER2 status            0
Surgery_type           0
Date_of_Surgery        0
Date_of_Last_Visit    17
Patient_Status        13
dtype: int64
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64
days_since_2011    0
season             0
yr                 0
mnth               0
hr                 0
holiday            0
weekday            0
workingday         0
weathersit         0
temp               0
atemp              0
hum                0
windspeed          0
cnt                0
dtype: int64